@import 'prosemirror-view/style/prosemirror.css';
.headerMenuItem {
  padding-left: 1em;
}

.centeredPageContainer {
  align-self: center;
}

.contentContainer {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blogHeader,
.blogFooter {
  color: white;
}

.blogHeader {
  background-color: red;
}

.blogFooter {
  background-color: blue;
}

.messageCard {
  transition-property: opacity;
  transition-duration: 250ms;
}

.messageCard.closed {
  opacity: 0;
}

#editor div.ProseMirror {
  min-height: 20em;
}
