.fileTable, .imageOpTable, .filesList {
  td, th {
    padding: 0.25em 1.5em 0.25em 0.25em;
  }

  thead {
    .tableLeft th {
      text-align: left;
    }

    th h1 {
      padding-bottom: 0.5em;
    }
  }
}

.fileTable, .imageOpTable {
  tbody {
    td:last-child {
      text-align: end;
    }
  }
}